* {
  margin: unset;
}

#root {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100dvh;
}

nav {
  display: flex;
  gap: 1rem;
}

.kommune-overlay {
  background-color: white;
  translate: -50% calc(-50% - 30px);
  padding: 0.5em;
}
