* {
  margin: 0;
}

#root {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.map {
  background-color: lightblue;
}

nav, header {
  padding: 0.25rem;
}

nav {
  display: flex;
  gap: 1em;
}